---
import Layout from '../layouts/Layout.astro';
import SpaceTourism from '../components/SpaceTourism.astro';
---

<Layout title="Frontend Mentor | Space Tourism Website">
	<main>

		<SpaceTourism />
		
	</main>
</Layout>